.accessButton{
    border-radius: 20px;
}
.motherPlan{
    background-color: rgba(0, 0, 255,.1);
    border-radius: 400px 100px 3px 4px;
    padding-bottom: 30px;
}
.allPlan{
    display: flex;
    justify-content: center;
    position: relative;
   
    width: 100%;
    height: 200px;
}
.plan{
    position: absolute;
     top: -100px; 
    /* left: 50%;
    transform: translateX(-50%); */
}
.bigAbout{
    width: 700px;
    position: relative;
}
.aboutImg{
        position: absolute;
        top: 22px;
        left: -350px;
        width: 65%

}
.aboutDataleum{
    position: absolute;
    top: -35px;
    left: -30px;
    border-radius:0px 20px 20px;
    box-shadow:6px 8px 4px 5px rgba(0, 0, 0, 0.10)
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 225, 225, 0.7);
    z-index: 1;
}
.mtnModal{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}